.users {
    margin: 2rem auto;
    width: 90%;
    max-width: 40rem;
  }
  
  .users ul {
    list-style: none;
    padding: 1rem;
  }
  
  .users li {
    border: 1px solid #ccc;
    margin: 0.5rem 0;
    padding: 0.5rem;
    text-transform: capitalize;
    font-weight: bold;
  }
  h2{
    font-weight: bold;
    margin: 0;
  }
  
  h3{
    font-weight: bold;
    margin: 10px;
    text-decoration: underline;
  }

  p{
    font-size: large;
    margin: 6px 24px;
    font-weight: lighter;
  }